table {
   border-collapse: separate;
   border-spacing: 5px;
   background: #2e518b url("img/gradient.jpg") bottom left repeat-x;
   color: #fff;
}

table a { 
    color: #1f1; 
}

th, td {
   width: 20%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #2e518b;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}
caption {
   padding: 0.3em;
   color: #fff;
    background: #000;
}
th {
   background: #eee;
}